img {
    border: 3px solid #1b4965;
    display: block;  
}
body {
    background-color: #cae9ff;
}
h1 {
    color: #1b4965;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    font-size: 40px;
}
p {
    color: #1b4965;
    font-family: 'Lato', sans-serif;
    font-size: 20px
}
.katherine {
    width: 250px;
    height: 320px;
    margin-left: auto;
    margin-right: auto;
}
p {
    margin: 25px;
}

    